/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root{
  --black: hsl(0, 0%, 0%);
  --fade-black: hsla(0, 8%, 55%, 0.435);
  --white: hsl(0, 0%, 100%);
  --fade-white:hsla(0, 10%, 84%, 0.216);
  --yellow: yellow;
  --red: red;

  --radius-50: 50%;
  --radius-2: 2rem;

}

.dark-mode{
  --white:hsl(0, 0%, 0%);
  --black:hsl(0, 0%, 71%);
  --yellow:red;
  --red:yellow;
  --fade-white: hsla(0, 8%, 55%, 0.435);
  --fade-black:hsla(0, 10%, 84%, 0.216);

}


body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

p,
.experience-sub-title {
  /* color: red; */
  color: var(--black);
}

/* FLEXED ELEMENTS */

article,
nav,
#contact,
#profile,
#socials-container,
.about-containers,
.about-details-container,
.article-container,
.contact-info-upper-container,
.contact-info-container,
.experience-details-container,
.nav-links,
.btn-container,
.section__pic-container,
.section-container {
  display: flex;
}
/* .about-containers{
  flex-wrap: wrap;
  flex-direction: column;
} */
.head-pic{
  filter: drop-shadow(10px 20px 250px var(--yellow));
}

nav,
.article-container {
  justify-content: space-around;
}

article,
nav,
.contact-info-container {
  align-items: center;
}

.nav-links,
.about-containers {
  gap: 2rem;
}

#contact,
#profile,
#socials-container,
.about-details-container,
.experience-details-container,
.contact-info-upper-container,
.contact-info-container,
.btn-container {
  justify-content: center;
}

#contact,
.about-details-container,
.experience-details-container {
  flex-direction: column;
}

/* NAVBAR */

a,
h3,
.icons,
.project-btn,
.project-title {
  /* color: black; */
  color: var(--black);
}

a {
  text-decoration: none;
  text-decoration-color: var(--white);
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

nav {
  height: 17vh;
}

.logo {
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
}

li{
  display: block;
  transform: .7s;
}
ul:hover li{
  filter: blur(2.5px);
}
ul li:hover{
  filter: blur(0px);
}

#dark-toggle{
  color: var(--black);
  transition: all 0.5s ease-in-out;
}


/* SECTIONS */

#about,
#experience,
#projects {
  position: relative;
}

section {
  padding-top: 4vh;
  /* height: 93vh; */
  margin: 0 10rem;
}

.section-container,
.about-containers {
  margin-top: 2rem;
}

.section-container {
  gap: 4rem;
}
/* .section-container,
.experience-details-container {
  height: 80%;
} */
.section-container{
  height: 80%;
}

.title {
  font-size: 3rem;
  color: var(--black);
  transform: skewY(-1deg);
  text-shadow:
   var(--fade-black) 0.1em 0.1em;
}

.btn,
.experience-sub-title,
.section__text p,
.title {
  font-weight: 600;
}

footer p,
.details-container,
.section__text__p1,
.section__text,
.title {
  text-align: center;
}

/* TRANSITIONS */

a,
.btn {
  transition: all 300ms ease;
}

/* BUTTONS */

.btn {
  padding: 1rem;
  width: 8rem;
}
.about-pic{
  border-radius: 50px 0 50px 0;
}

.btn,
.contact-info-upper-container,
.details-container,
.project-img {
  border-radius: 2rem;
}
.head-pic{
  border-radius: 48%;
}
.btn-color-1,
.btn-color-2,
.details-container,
.contact-info-upper-container {
  border: var(--black) 0.1rem solid;
}

.icon,
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  /* background: rgb(53, 53, 53); */
  background: var(--black);
  color: var(--white);
}

.btn-color-1:hover {
  background: var(--black)
}

.btn-color-2 {
  background: var(--white);
  color: var(--black);
}

.btn-color-2:hover {
  border: var(--white) 0.1rem solid;
}

#socials-container,
.btn-container {
  gap: 1rem;
}

/* PROFILE SECTION */

#profile {
  gap: 10rem;
  height: 70vh;
}

.section__text {
  align-self: center;
}

.experience-sub-title,
.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#socials-container {
  margin-top: 1rem;
}

/* ABOUT SECTION */

#about{
  height: 90vh;
}

.about-containers,
.experience-sub-title {
  margin-bottom: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
}

.details-container,
.color-container,
.contact-info-upper-container,
.project-btn {
  border-color: rgb(163, 163, 163);
}

.icon {
  height: 2rem;
}



.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* EXPERIENCE SECTIION */

.article-container {
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
}

article {
  width: 10rem;
}

/* PROJECTS SECTION */

.project-img {
  width: 90%;
  height: 90%;
}

.color-container,
.contact-info-upper-container,
.details-container {
  background: var(--white);
}

/* CONTACT SECTION */

.contact-info-upper-container {
  margin: 2rem auto;
  padding: 0.5rem;
}


.contact-info-container,
article {
  gap: 0.5rem;
}

.contact-info-container,
.project-title {
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

article .icon,
.contact-icon,
.logo:hover {
  cursor: default;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: var(--white);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}
